*
{
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: Verdana;
	font-size: 11px;
	background: #eeeeee;
	line-height: 2;
}

h1
{
	font-size: 30px;
	text-align: center;
	padding-bottom: 35px;
	padding-top: 25px;
	margin-bottom: 30px;
	border-bottom: 1px solid #dddddd;
	font-family: Georgia;
	color: #666666;
}

h2
{
	font-family: Georgia;
}

p
{
	text-align: justify;
	margin-bottom: 10px;
}

a
{
	color: blue;
}

a:hover
{
	color: red;
}

#container
{
	position: absolute;
	width: 750px;
	left: 50%;
	margin-left: -375px;
	padding: 15px;
	border: 1px solid black;
	background: white;
}

#left
{
	float: left;
	width: 128px;
}

#right
{
	margin-left: 140px;
	border-left: 1px solid #dddddd;
	padding-left: 10px;
	padding-right: 10px;
}

#footer
{
	margin-top: 30px;
	border-top: 1px solid #dddddd;
	padding-top: 5px;
	text-align: center;
	color: gray;
	font-size: 9px;

	clear: both;
}

#footer a
{
	color: gray;
}

#menu
{
	margin-bottom: 10px;
}

#menu ul
{
	list-style-position: inside;
	list-style-type: none;
	margin-left: 5px;
}

#login input
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #dddddd;
	background: none;
	color: blue;
}

#login button
{
	border: 1px solid #dddddd;
	width: 100%;
	color: blue;
	background: none;
}

label
{
	margin-bottom: 5px;
}

p.alert
{
	color: red;
}

ul, ol
{
	list-style-position: inside;
	margin-left: 15px;
}

ol.home
{
	color: gray;
	font-size: 14px;
	font-family: Georgia;
}