*
{
	margin: 0px;
	padding: 0px;
}

#printFooter, .noScreen
{
	display: none;
}

body
{
	font-family: Verdana;
	font-size: 11px;
	background: #eeeeee;
	line-height: 2;
}

h1
{
	font-size: 30px;
	text-align: center;
	padding-bottom: 35px;
	padding-top: 25px;
	margin-bottom: 30px;
	border-bottom: 1px solid #dddddd;
	font-family: Georgia;
	color: #666666;
}

h2
{
	font-family: Georgia;
}

h3
{
	margin-top: 15px;
}

table.data h3
{
	margin-top: 0px;
}

p
{
	text-align: justify;
	margin-bottom: 10px;
}

a
{
	color: blue;
}

a:hover
{
	color: red;
}

#container
{
	position: absolute;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	padding: 15px;
	border: 1px solid black;
	background: white;
}

#left
{
	float: left;
	width: 170px;
}

#right
{
	margin-left: 182px;
	border-left: 1px solid #dddddd;
	padding-left: 10px;
	padding-right: 10px;
}

#footer
{
	margin-top: 30px;
	border-top: 1px solid #dddddd;
	padding-top: 5px;
	text-align: center;
	color: gray;
	font-size: 9px;
	line-height: 1.2;

	clear: both;
}

#footer a
{
	color: gray;
}

#footer a:hover
{
	color: green;
}

#menu
{
	margin-bottom: 10px;
}

#menu ul
{
	list-style-position: outside;
	list-style-type: none;
	margin-left: 0px;
}

#basket ul
{
	list-style-position: outside;
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 10px;
}

#basket p
{
	line-height: 1.2;
}

#login p
{
	text-align: left;
	line-height: 1.2;
}

#login p.false
{
	text-align: center;
}

#login input
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #dddddd;
	background: none;
	color: blue;
}

#settings select
{
	display: block;
	width: 100%;
	border: 1px solid #dddddd;
	font-size: 10px;
}

#login button
{
	border: 1px solid #dddddd;
	width: 100%;
	color: blue;
	background: none;
}

label
{
	margin-bottom: 5px;
}

p.alert
{
	color: red;
}

ul, ol
{
	list-style-position: outside;
	margin-left: 20px;
	padding-left: 10px;
}

ol.home
{
	color: gray;
	font-size: 14px;
	font-family: Georgia;
}

p.false, p.true, div.message
{
	margin: 5px -3px;
	padding: 5px;
	padding: 3px 6px;
}

p.false
{
	color: red;
	border: 1px solid red;
	background: #FEEEEE;
}

p.true
{
	color: green;
	background-color: #eeffff; 
	border: 1px solid green;
}

div.message
{
	color: #FF9900;
	background-color: #FFFFCC;
	border: 1px dashed #FF9900;
}

div.message p
{
	margin: 2px 2px 2px 2px;
}

#right form label
{
	display: block;
	margin-bottom: 10px;
}

#right form label input, #right form select
{
	display: block;
	border: 1px solid #dddddd;
	background: none;
	padding: 2px;
	color: blue;
	width: 200px;
}

table.data, table#products
{
	width: 100%;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
}

table.data td, table.data th
{
	padding: 2px 4px 2px 4px;
}

table.data td.links
{
	width: 25%;
	color: gray;
}

table.data td.rechts
{
}

p.rightLink
{
	float: right;
	margin-top: 5px;
}

select option
{
	background: white;
	padding: 2px;
	font-size: 10px;
}

textarea
{
	width: 100%;
	border: 1px solid #dddddd;
	height: 100px;
	color: blue;
	font-size: 10px;
}

table#products
{
	width: 100%;
	padding: 0px;
	margin-bottom: 5px;
}

table#products *
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 1;
}

table#products th
{
	font-size: 10px;
	text-align: left;
	background-color: #eeeeee;
	padding: 2px;
}

table#products input
{
	padding: 0px;
	margin: 0px;
	color: blue;
	background-color: #eeeeee;
	font-size: 10px;
}

table#products input
{
	margin: 0px;
	border: none;
	width: 100%;
}

table#products select
{
	width: 100%;
	padding: 0px;
	height: 12px;
	font-size: 8px;
	margin: 0px;
}

.prodPrice, table#products th.prodPrice
{
	text-align: center;
}

table#products tr#noRows td
{
	text-align: center;
	background-color: #eeeeee;
	padding: 1px;
	color: red;
}

#right button
{
	padding: 5px;
	border: 1px solid #dddddd;
	background: #eeeeee;
}

/* Start product info */
table.productsInfo
{
	border: 1px solid #dddddd;
	width: 100%;
}

table.productsInfo *
{
	line-height: 1;
	padding: 0px;
	margin: 0px;
}

table.productsInfo tr.prodMain td
{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

table.productsInfo tr.prodMain.noProdDetail td
{
	padding-bottom: 5px;
	border-bottom: 1px solid #dddddd;
	
}

table.productsInfo tr.prodDetail, table.productsInfo tr.prodDetail td
{
	color: gray;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #dddddd;
	border-collapse: collapse;
}

table.productsInfo tr.last td
{
	border-bottom: none;
}

table.productsInfo tr.prodMain td.price
{
	text-align: center;
}


table.productsInfo tr.lastRow.prodDetail td,
table.productsInfo tr.lastRow.prodMain td
{
	border-bottom: none;
}

/* End products info */

p.product
{
	line-height: 1;
}

p.product span.product
{
	font-weight: bold;
}

p.product span.details
{
	color: gray;
}

p.true
{
	border: 1px solid green;
	padding: 5px 7px;
}